
body {
  background: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

.container {
  /* position: relative; */
  background: #fff;
  max-width: min-content;
  margin: auto;
  padding: 1em;
  border: 1px rgb(153, 152, 152) solid;
  border-radius: 1rem;
}

form {
  margin: auto;
  max-width: 80%;
}

.input-group {
  margin: 1em auto ;
}

label {
  display: block;
  margin-left: 0.5em;
  padding-bottom: 7px;
}

input {
  max-width: 90%;
  padding-left: 0.5em;
  border: 1px rgb(153, 152, 152) solid;
  border-radius: 1rem;
  margin: auto;
}

input:hover {
  border: 1px rgb(54, 54, 54) solid;
}

input:focus {
  outline: none;
}

button {
  margin: 0 0.2em 0.6em 0;
  font-family: inherit;
  font-size: inherit;
  border: 1px #555 solid;
  border-radius: 1em;
}

button:hover {
  background: #fff;
}

table {
  margin: auto;
  margin-bottom: 1em;
  table-layout: auto;
  width: 80%;
  border-collapse: collapse;
}

.total-output {
  border-bottom: 1px rgb(153, 152, 152) solid;
}

.item-td,
.total-td {
  text-align: left;
}

.price-td,
.output-td {
  text-align: right;
}